<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
</head>
<body>
    <h1>Book Store</h1>
    <a href="/add">Add Book</a>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% books?.forEach(book => { %>
                <tr>
                    <td><img src="<%= book.img %>" alt=""></td>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.price %></td>
                    <td>
                        <a href="/edit/<%= book._id %>">Edit</a>
                        <a href="/delete/<%= book._id %>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>